<fieldset data-hook="credit_card">
  <legend align="center">Amazon Payment</legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt>Amazon Order Id:</dt>
        <dd><%= payment.source.amazon_order_id %></dd>
      </dl>
    </div>
  </div>
</fieldset>
